body {
	background-image: url(back.jpg);
	max-width: 1980px;
	min-width: 1024px;
	margin: auto;
}

/* Main_settings */

.main_container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 10px;
	margin: 0 20px 0 20px;
	justify-content: center;

}

.items {
	padding: 10px;
}


/* header */

.header {
	grid-column: 1/3;
	background: #00182e;
	border-radius: 10px;
	border: 5px solid #ae243d;

}

.text_header {
	font-family: Century Gothic;
	display: flex;
	justify-content: center;
	font-size: 50px;
	color: #ae243d;
	text-shadow: 3px 3px 3px black;
	font-weight: 700;


}



/* text and pict */


.text_and_pict {
	display: flex;

}

.text_name {
	font-size: 30px;
	font-family: Century Gothic;
	color: #ae243d;
	text-shadow: 2px 2px 2px black;
	font-weight: 700;
	max-width: 270px;
	text-align: center;
	margin: 10px;
	text-decoration: underline;

}

.bio {
	font-size: 30px;
	font-family: Century Gothic;
	color: #ae243d;
	padding: 5px;
	font-weight: 500;
	background: #fbd9e0;
	border-radius: 25px;
	margin: 5px;
	border: 3px solid #00182e;

}


 /* Photo */

.photos {
	border-radius: 75px 10px 75px 10px;
	grid-column: 1/3;
}

.ph_size {
	max-width: 200px;
	border-radius: 30%;
	border: 5px solid #ae243d;
}

}
.ph_1 {
	margin: 10px;

}


/* text */

.text_and_pict2 {
	display: flex;
	margin-top: 50px;
	flex-wrap: wrap;
	justify-content: center;
}

.text {

	border-radius: 50px;

}

.zag_virshiv {
	text-align: center;
	font-size: 30px;
	font-family: Century Gothic;
	color: #ae243d;
	text-shadow: 2px 2px 2px black;
	font-weight: 700;
	background: #00182e;
	border: 1px solid #fbd9e0;
	border-radius: 100px;
	border: 5px solid #ae243d;
	padding: 10px;
}

.virsh {
	text-align: center;
	font-size: 20px;
	font-family: Century Gothic;
	color: #ae243d;
	padding: 5px;
	font-weight: 500;
	background: #fbd9e0;
	border-radius: 30px;
	border: 3px solid #00182e;
	margin: 50px;
	padding: 10px;

}




/* vkysniahu */

.vkysniahu {

}

.text_vkysniahu {
	text-align: center;
	font-size: 30px;
	font-family: Century Gothic;
	color: #ae243d;
	text-shadow: 2px 2px 2px black;
	font-weight: 700;
	background: #00182e;
	border: 5px solid #ae243d;
	border-radius: 100px;
	padding: 10px;
}

.ph_size_scrip{
	max-width: 400px;
	border-radius: 30%;
	margin: 10px;
	border: 5px solid #ae243d;

}

.photo_vkys {
	display: flex;
	margin: 10px;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}


.milka {
	text-align: center;
	font-size: 30px;
	font-family: Century Gothic;
	color: #ae243d;
	text-shadow: 2px 2px 2px black;
	font-weight: 700;
	background: #fbd9e0;
	margin: 20px;
	border-radius: 50px;
	padding: 5px;
	border: 3px solid #00182e;
}

.ph_size_milka {
	max-width: 200px;
	border-radius: 30%;
	margin: 10px;
	border: 5px solid #fbd9e0;
}


.scrip_bio{
	text-align: center;
	font-size: 30px;
	font-family: Century Gothic;
	color: #ae243d;
	font-weight: 700;
	background: #fbd9e0;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid #00182e;
	
}

/* together */

.together {
	grid-column: 1/3 ;
	border-radius: 30px;

}

.text_together {
	text-align: center;
	font-size: 30px;
	font-family: Century Gothic;
	color: #ae243d;
	text-shadow: 2px 2px 2px black;
	font-weight: 700;
	background: #00182e;
	border-radius: 20px;
	padding: 10px;
	border: 5px solid #ae243d;
}

.photos_tog {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	flex-wrap: wrap;
}





/* footer */
.footer {
	grid-column: 1/3;
	background: #00182e;
	margin: 10px;
	padding: 10px;
	border: 10px;
	border: 5px solid #ae243d;
	border-radius: 10px;
}

.text_footer {
	font-family: Century Gothic;
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: #ae243d;
	text-shadow: 3px 3px 3px black;
	font-weight: 700;
}

.inst {
	display: flex;
	justify-content: space-around;
}

.Instagram {
	font-family: Century Gothic;
	display: flex;
	justify-content: center;
	font-size: 20px;
	color: #ae243d;
	text-shadow: 3px 3px 3px black;
	font-weight: 700;
	padding: 10px;
}

a {
	margin-left: 5px;
	color: #fbd9e0;
	text-decoration: none;

}